In [7]:
import os
import pandas as pd
import csv

In [3]:
data_path = os.path.join(".","Resources","purchase_data.csv")

In [11]:
purchase_df = pd.read_csv(data_path)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [33]:
## Number of Unique Players
sn = purchase_df["SN"].unique()
player_count = len(sn)
player_count

576

In [34]:
## Number of Unique Items
itemid = purchase_df["Item ID"].unique()
item_count = len(itemid)
print(item_count)

179

In [37]:
## Average Purchase Price
avg_price = purchase_df["Price"].mean()
avg_price

3.050987179487176

In [42]:
## Total Purchases
purchase_id = purchase_df["Purchase ID"]
purchase_count = len(purchase_id)
purchase_count

780

In [80]:
## Total Revenue
price_df = purchase_df["Price"]
total_revenue = price_df.sum()
total_revenue

2379.77

In [118]:
# Gender Demographics
gender_agg = purchase_df.groupby("Gender")
gender_count = gender_agg.count()
gender_count["SN"]

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64