In [2]:
import os
import pandas as pd
import csv

In [3]:
data_path = os.path.join(".","Resources","purchase_data.csv")

In [66]:
purchase_df = pd.read_csv(data_path)
purchase_df.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [5]:
## Number of Unique Players
sn = purchase_df["SN"].unique()
player_count = len(sn)
player_count

576

In [6]:
## Number of Unique Items
itemid = purchase_df["Item ID"].unique()
item_count = len(itemid)
print(item_count)

179

In [7]:
## Average Purchase Price
avg_price = purchase_df["Price"].mean()
avg_price

3.050987179487176

In [8]:
## Total Purchases
purchase_id = purchase_df["Purchase ID"]
purchase_count = len(purchase_id)
purchase_count

780

In [9]:
## Total Revenue
price_df = purchase_df["Price"]
total_revenue = price_df.sum()
total_revenue

2379.77

In [21]:
# Gender Demographics
gender_agg = purchase_df.groupby("Gender")
gender_count = pd.DataFrame(gender_agg.count())
gender_count.head()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [40]:
# Counts and Percentages by Gender
male_count = gender_count.loc['Male','SN']
female_count = gender_count.loc['Male','SN']
other_count = gender_count.loc['Other / Non-Disclosed','SN']
male_percent = 100*male_count/player_count
female_percent = 100*female_count/player_count
other_percent = 100*other_count/player_count

In [51]:
#Purchasing Analysis - Gender

# Purchase Count by Gender 
male_count = gender_count.loc['Male','Purchase ID']
female_count = gender_count.loc['Male','Purchase ID']
other_count = gender_count.loc['Other / Non-Disclosed','Purchase ID']

In [59]:
# Average Price Per Gender
gender_mean = pd.DataFrame(gender_agg.mean())
male_avgprice = gender_mean.loc['Male','Price']
female_avgprice = gender_mean.loc['Female','Price']
other_avgprice = gender_mean.loc['Other / Non-Disclosed','Price']

In [88]:
# Total Purchase Value Per Gender
gender_sum = pd.DataFrame(gender_agg.sum())
gender_sum
male_tot = gender_sum.loc['Male','Price']
female_tot = gender_sum.loc['Female','Price']
other_tot = gender_sum.loc['Other / Non-Disclosed','Price']

In [104]:
# Age Binning
#purchase_df.describe() # min 7, max 45
age_bounds = [0,9,14,19,24,29,34,39,44,49]
age_names = ['Below 10','10-14','15-19','20-24','25-29','30-34','35-39','40-44','45-49']
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], age_bounds, labels=age_names)
purchase_df.loc[purchase_df['Age'] == 19]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
30,30,Idai61,19,Male,140,Striker,2.94,15-19
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
94,94,Aina43,19,Male,96,Blood-Forged Skeletal Spine,3.09,15-19
108,108,Sondadarya58,19,Male,85,Malificent Bag,1.75,15-19
129,129,Lisast87,19,Male,74,Yearning Crusher,4.18,15-19
219,219,Aidai53,19,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
233,233,Taeduenu92,19,Female,66,Victor Iron Spikes,4.40,15-19
281,281,Sondimla25,19,Male,68,"Storm-Weaver, Slayer of Inception",4.32,15-19
345,345,Hada39,19,Male,2,Verdict,2.48,15-19
370,370,Idai61,19,Male,45,Glinting Glass Edge,3.85,15-19
399,399,Marilsasya33,19,Male,143,Frenzied Scimitar,1.56,15-19
407,407,Idai61,19,Male,131,Fury,1.44,15-19
452,452,Marilsasya33,19,Male,32,Orenmir,1.14,15-19
505,505,Thourdirra92,19,Male,110,Suspension,1.44,15-19
533,533,Hada39,19,Male,48,"Rage, Legacy of the Lone Victor",2.48,15-19
577,577,Filurarn35,19,Male,128,"Blazeguard, Reach of Eternity",4.91,15-19
628,628,Hada39,19,Male,167,"Malice, Legacy of the Queen",3.61,15-19
697,697,Tyaelistidru84,19,Female,1,Crucifer,3.26,15-19
702,702,Ililsasya43,19,Male,12,Dawne,1.02,15-19
709,709,Lisast87,19,Male,75,Brutality Ivory Warmace,2.42,15-19
720,720,Aidai73,19,Male,159,"Oathbreaker, Spellblade of Trials",3.08,15-19
741,741,Phiallylis33,19,Male,145,Fiery Glass Crusader,4.58,15-19

In [110]:
age_agg = purchase_df.groupby("Age Group")
age_mean = pd.DataFrame(age_agg.mean())
age_count = pd.DataFrame(age_agg.count())
age_sum = pd.DataFrame(age_agg.sum())

In [118]:
age_purchases = age_count.loc[:,'Purchase ID']
age_avgprice = age_mean.loc[:,'Price']
age_tot = age_sum.loc[:,'Price']
age_avgtotal = age_tot/age_count.loc[:,'SN']

Age Group
Below 10    3.353478
10-14       2.956429
15-19       3.035956
20-24       3.052219
25-29       2.900990
30-34       2.931507
35-39       3.601707
40-44       3.045000
45-49       1.700000
dtype: float64

In [119]:
age_avgprice

Age Group
Below 10    3.353478
10-14       2.956429
15-19       3.035956
20-24       3.052219
25-29       2.900990
30-34       2.931507
35-39       3.601707
40-44       3.045000
45-49       1.700000
Name: Price, dtype: float64

In [195]:
player_agg = purchase_df.groupby('SN')
player_count = player_agg.count()
player_tot = player_agg.sum().sort_values("Price", ascending = False)
player_avgprice = player_agg.mean()
player_join = player_tot.merge(player_avgprice,on = 'SN', suffixes = ['_tot','_avg'])
player_join2 = player_join.merge(player_count, on = 'SN').sort_values("Price_tot", ascending = False)
player_join2.head()
player_join2['Age','Price_avg','Price_tot'] #for some reason i'm having issues indexing from player_join2

KeyError: ('Age', 'Price_avg', 'Price_tot')

In [148]:
item_agg = purchase_df.groupby('Item Name')
item_count = item_agg.count()
item_tot = item_agg.sum()